@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #1368EC;
}

@layer base {
    html{
        font-family: var(--font-display);
    }

    body{
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

@layer utilities {
    .bg-primary {
        background-color: var(--color-primary);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .border-primary {
        border-color: var(--color-primary);
    }
}

.input-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    font-size: 0.875rem;
    color: #000;
    background-color: rgba(148, 163, 184, 0.05);
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    margin: 0.75rem 0 1rem 0;
    border: 1px solid #e2e8f0;
    outline: none;
}
.btn-primary {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--color-primary);
    box-shadow: 0 10px 15px -3px rgba(168, 85, 247, 0.05), 0 4px 6px -4px rgba(168, 85, 247, 0.05);
    padding: 0.625rem 1rem;
    border-radius: 0.375rem;
    margin: 0.25rem 0;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-primary:hover {
    background-color: rgba(14, 101, 235, 0.15);
    color: #1368EC;
}
.card{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgb(243 244 246), 0 2px 4px -2px rgb(243 244 246);
    border: 1px solid rgb(229 231 235 / 50%);
}
.card-btn{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 12px;
    font-weight: 500;
    color: #374151;
    background-color: #f9fafb;
    padding: 0.375rem 1rem;
    border: 1px solid rgb(229 231 235 / 50%);
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-btn:hover {
    color: var(--color-primary);
    background-color: #eff6ff;
}
.form-card{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(243 244 246), 0 2px 4px -2px rgb(243 244 246);
    border: 1px solid rgb(229 231 235 / 50%);
}

.form-input{
    width: 100%;
    font-size: 0.875rem;
    color: #000;
    outline: none;
    background-color: #fff;
    border: 1px solid #f1f5f9;
    padding: 0.75rem 0.625rem;
    border-radius: 0.375rem;
    margin-top: 0.5rem;
}

.form-input::placeholder {
    color: #6b7280;
}